@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --white: #FFFFFF;
  --slate-300: #D5E1EF;
  --slate-500: #68778D;
  --slate-900: #1F314F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  width: 320px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #0000001d;
}

.img-container{
  flex: 1;
  min-width: 0;
}

.img-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.info {
  font-family: Outfit, sans-serif;
}

.title {
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: bold;
  color: var(--slate-900);
  margin-bottom: 15px;
}

.description {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: var(--slate-500);
}